.tabela {
    border: 1px solid black;
    width: 500px;
    margin: auto;
}

.titulo {
    text-align: center;
    color: blue
}

.componentes {
    margin-bottom: 30px;


}

,componentes label {
    display:block;
    font-weigt: bold;
    
}

.componentes input, select, textarea {
    width: 400px;
}

.componentes button {
    width: 100px;
    height: 30px
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: #d9534f;



}
